* {
    background-color: rgba(0, 0, 200, 0.467);
    color: white;
    background: url(https://i.etsystatic.com/26557126/r/il/274a1a/2930297504/il_fullxfull.2930297504_h6rs.jpg);
    font-size: 18px;
  }
  #title, #description {
    
    font-weight: bold;
    text-align: center;
  
  }
  #title {
    font-style: regular;
    font-size: 32px;
  }
  #description {
    font-style: italic;
    font-size: 22px;
  }
  
  #survey-form {
    width: auto;
    display: flex;
    flex-direction: rows;
    justify-items: flex-end;
    align-items: center;
  }
  #container {
    width: 70%;
    background-color: blue;
    margin: 0px auto;
    padding: 10px auto;
  }
  
  .presentation {
  
  }
  
  .activity {
    display: flex;
  
  }
  
  .information {
  
  }
  
  label, input, dropdown, textarea {
    width: 100%;
    display: inline-block;
    padding: 10px;
    justify-content: center;
  }
  
  label h3 {
    font-size: 20px;
  }
  
  
  #name-label {
  
  }
  #email-label {
  
  }
  #number-label {
    
  }
  #dropdown select option {
    width: 100%;
    background-color: black;
  }
  
  #like, #contribution {
    
  }
  
  #textarea {
  
  }
  
  #submit {
    width: 102%;
  
  }