#main {

}
#title {

}
#main #img-div {

}
#main #image {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
#main #img-caption {

}
#main #tribute-info {

}
#main #tribute-link {

}